@font-face {
  font-family: "Norse-Bold";
  src: url("../fonts/Norse-Bold.woff2") format("woff2"), 
       url("../fonts/Norse-Bold.woff") format("woff");
}

body {
  display: flex; 
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

img.background {
  height: 100vh;
}

.text-form-wrapper {
  height: 100vh;
  width: 900px;
  display: flex; 
  flex-direction: column;
  background-color: #EAEDF0;
  justify-content: center;
  overflow: auto;
}

.action-wrapper {
  font-size: 1.4rem;
  font-weight: 600;
  flex: 1; 
}
.action-wrapper > p {
  margin-bottom: 40px;
  margin-left: 30px;
  padding-right: 120px;
}

.action-wrapper > p:first-child {
  margin-bottom: 20px;
  margin-top: 12vh;
}

.form-card-wrapper {
  padding: 10px 120px 30px 30px;
  background-color: white;
  flex: 1; 
}

.form-card-wrapper h2 {
  margin-bottom: 30px;
}

.footer {
  padding-top: 30px;
  margin-left: 30px;
  flex: 1;
}

